@import "../../../styles.scss";
.skill {
  .progress-bar {
    margin-top: 5px;
    margin-bottom: 1.8rem;
    border: 1px solid $secondary-color;
    border-radius: $border-radius;
    height: 25px;
    .progress {
      background-color: $secondary-color;
      height: inherit;
      border-radius: inherit;
    }
  }
}
