@import "../../styles.scss";

section {
  .projects {
    height: fit-content;
    display: flex;
    justify-content: space-around;
    .project {
      border: 2px solid $secondary-dark-color;
      border-radius: $border-radius;
      width: fit-content;
      padding: 25px;
      background-color: $secondary-dark-color;
      margin-right: 2rem;
      .img {
        height: 300px;
        width: 300px;
        overflow: hidden;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 200%;
        }
      }

      h3 {
        font-size: 1.6rem;
        margin: 0.9rem 0;
      }

      .project-details {
        color: #23b5d3;
        display: flex;
        gap: 1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        font-size: 14px;
      }

      .description {
        width: 300px;
        color: #f3e8ee;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 1rem;
        line-height: 149.687%;
      }

      .btn-container > *:first-child {
        margin-right: 15px;
      }

      &:hover {
        transition: $transition;
        background-color: transparent;
      }
    }
  }

  .see-more {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 1024px) {
  section {
    width: $container-width-md;

    .projects {
      flex-wrap: wrap;
      .project {
        margin-top: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 890px) {
  section {
    .projects {
      .project {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  section {
    width: $container-width-sm;

    .projects {
      .project {
        margin: 0;
        &:not(:first-child) {
          margin-top: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  section {
    width: $container-width-sm;

    .projects {
      .project {
        padding: 10px;

        .img {
          height: 250px;
          width: 250px;
          background-size: cover;
        }
      }
    }
  }
}
