@import "../../styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

header {
  // height: 700px;
  width: $container-width-bg;
  margin: 0 auto;
  padding-top: 3vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 60px;
    }

    .social-media-links {
      color: $secondary-color;
      cursor: pointer;
      li {
        margin-left: 1rem;
        height: fit-content;

        a {
          color: $secondary-color;
          &:hover {
            transition: $transition;
            color: lighten($secondary-color, 10%);
          }
        }
      }
    }
  }

  .intro {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .pic {
      display: block;
      width: 40%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .text {
      display: grid;
      align-items: center;
      gap: 2rem;
      z-index: 2;
      // & > * {
      //   margin-bottom: 1.5rem;
      // }

      min-width: 40%;
      max-width: 55%;
      margin-left: auto;
      margin-right: 0;
      // margin-top: auto;
      // height: inherit;

      h1 {
        font-family: "Lato", sans-serif;
        font-size: 3rem;
        font-weight: 400;
      }

      p {
        font-weight: 100;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.35em;

        .different-color {
          color: $secondary-color;
        }
      }

      .btn-container {
        .btn-primary {
          margin-right: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  header {
    width: $container-width-md;
    .intro {
      h1 {
        font-size: 1.3rem;
        .bigger {
          font-size: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    width: $container-width-sm;

    .intro {
      h1 {
        font-size: 2.5rem;
      }

      .main-pic {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    .intro {
      flex-direction: column;
      .text {
        max-width: 90%;
        margin-left: 0;
      }
      .pic {
        width: 90%;
      }
      .btn-container {
        & > a {
          margin-top: 0.7rem;
        }
        button {
          text-align: center;
        }

        .btn-primary {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  header {
    .header {
      img {
        height: 50px;
      }
    }
  }
}
