@import "../../styles.scss";

nav {
  background-color: rgba($color: #000, $alpha: 0.3);
  width: max-content;
  display: block;
  padding: 0.1rem 1.3rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  display: flex;

  a {
    background-color: transparent;
    color: rgba($color: $text-color, $alpha: 0.3);
    margin: 0.5rem;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    flex-direction: row;

    &:hover {
      color: $secondary-color;
      background: $bg-color;
    }
  }
  .active {
    color: $secondary-color;
    background: $bg-color;
  }
}

.hide {
  display: none;
}

@media only screen and (max-width: 400px) {
  nav {
    bottom: 0.5rem;
    // border-radius: 0;

    a {
      margin: 0.1rem;
    }
  }
}
